<div class="container text-center mt-5">
  <div class="row align-items-start">
    <div class="col-1"><!-- One of three columns --></div>
    <div class="col-10">
      <h3>Gruppi:</h3>
      <table class="table table-dark table-striped">
        <thead >
          <tr>
            <th scope="col">Nome</th>
            <th scope="col">Numero utenti</th>
            <th scope="col">Data Creazione</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row">1</th>
            <td>Mark</td>
            <td>Otto</td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="col-1"><!-- One of three columns --></div>
  </div>
</div>
