<div class="container text-center mt-5">
  <div class="row align-items-start">
    <div class="col"><!-- One of three columns --></div>
    <div class="col">
      <div class="mt-5 p-3">
        <h3>
          Scegli una nuova password prima di essere reindirizzato al login
        </h3>
      </div>
      <form>
        <div class="mt-5 p-3">
          <label for="newPasswordInput" class="form-label"
            >Nuova Password</label
          >
          <input
            type="password"
            class="form-control mt-3"
            name="newPassword"
            autocomplete="on"
            id="newPasswordInput"
            [(ngModel)]="newPassword"
          />
        </div>
        <div class="mb-3">
          <label for="confirmNewPasswordInput" class="form-label"
            >Conferma Nuova Password</label
          >
          <input
            [class]="
              passwordsDontMatch
                ? 'form-control mt-3 is-invalid'
                : 'form-control mt-3'
            "
            type="password"
            name="password"
            autocomplete="on"
            id="confirmNewPasswordInput"
            [(ngModel)]="confirmNewPassword"
            required
            (keydown)="clearFields()"
            (keydown.enter)="confirmPassword()"
          />
          <div id="passwordMatchFeedback" class="invalid-feedback">
            {{ messageError }}
          </div>
        </div>
        <button
          type="button"
          class="btn btn-danger mt-3"
          (click)="confirmPassword()"
        >
          Conferma
        </button>
      </form>
    </div>
    <div class="col"><!-- One of three columns --></div>
  </div>
</div>
